# Last match in file takes precedence.

# Ping for all PRs
* @JerryImMouse
* @tau27 @DarkBanOne0

# Maps
/Resources/Prototypes/Maps/**
/Resources/Maps/**
/Resources/Prototypes/_WL/Maps/** @NotSoDana
/Resources/Maps/_WL/** @NotSoDana

# Sprites
/Resources/Textures/** @DarkBanOne0
