# Last match in file takes precedence.

# Ping for all PRs
* @JerryImMouse
* @tau27 @oldschoolotaku

# Maps
/Resources/Prototypes/Maps/**
/Resources/Maps/**
/Resources/Prototypes/_WL/Maps/**
/Resources/Maps/_WL/**

# Sprites
/Resources/Textures/** @whitleyvk @oldschoolotaku
