- type: job
  id: TechnicalAssistant
  name: job-name-technical-assistant
  description: job-description-technical-assistant
  playTimeTracker: JobTechnicalAssistant
  subnames:
  - инженерный ассистент
  - инженер-стажёр
  requirements:
    - !type:OverallPlaytimeRequirement
      time: 3600 #1 hr
    - !type:DepartmentTimeRequirement
      department: Engineering
      inverted: true # stop playing intern if you're good at engineering!
      time: 36000
    - !type:AgeRequirement
      minAge: 20
  startingGear: TechnicalAssistantGear
  icon: "JobIconTechnicalAssistant"
  supervisors: job-supervisors-engineering
  canBeAntag: true #false ##WL-Changes
  access:
  - Maintenance
  - Engineering
  - External

- type: startingGear
  id: TechnicalAssistantGear
  equipment:
    shoes: ClothingShoesBootsWork
    id: TechnicalAssistantPDA
    belt: ClothingBeltUtilityEngineering
    ears: ClothingHeadsetEngineering
    pocket2: BookEngineersHandbook
  #storage:
    #back:
    #- Stuff
